@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	font-family: Poppins, sans-serif;
	height: 100%;
	margin: 1.5rem auto 0;
	max-height: fit-content;
	max-width: 50rem;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

h2 {
	font-size: 1.125rem
}

h3,time {
	font-size: 1rem;
}

header {
	align-items: center;
	border-bottom: 4px solid red;
	display: flex;
	font-size: 0.7rem;
	gap: 1rem;
	justify-content: space-between;
	padding-bottom: 1.5rem;
	margin-bottom: 4rem;

	figure,
	picture {
		max-width: fit-content;
	}

	img {
		block-size: 100%;
		display: inline-block;
		max-width: 18rem;
	}
}

.contact {
	display: flex;
	gap: 1rem;

	h2 {
		color: red;
		font-size: inherit;
	}
}

main {
	.to {
		display: flex;
		justify-content: space-between;
		margin: 1rem 0;
	}


	.content {
		margin: 1rem 0;
	}

}

footer {
	border-bottom: 1rem solid red;
	padding-block: 8rem 4rem;
	margin-top: auto;

}

